
.appNav {
    width: 100%;
  padding: .5rem 0;
}
.appNav :global(.active) {
    color: red;
}
.nav-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .nav-cta {
    font-weight: 800;
  padding: .5rem;
  color: #171717;
  }